* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #090C12;
}

.logo-container {
  position: absolute;
  top: 2%;
  height: 30vh;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
}

.ReacTarot {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarot-table-wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  height: 85%;
  min-height: 350px;
}

.tarot-table {
  height: 100%;
  align-self: flex-end;
}

.card-container {
  cursor: pointer;
  position: absolute;
  height: 60vh;
  min-height: 250px;
  width: 75vh;
  min-width: 300px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-grow: 1;
  color: #2E1441;
  bottom: 10%;
  margin-top: 50%;
}

.shuffle-indicator-wrapper{
  color: #E9C236;
  font-family: Luminari, Fantasy, Sans-serif, Monospace, Cursive;
}

.card-wrapper{
  width: 6.9%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2%;
}

.card {
  background-size: cover;
  font-size: .01em;
  background-color: #ffffffd0;
  border: 1px solid grey;
  width: 90%;
  height: 100%;
  border-radius: 5%;
}

.display-console-wrapper {
  position: absolute;
  left: 7.5vw;
  height: 85%;
  width: 18%;
  color: #E9C236;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.display-card-wrapper {
  width: 100%;
  height: 85vh;
}

.display-card{
  position: absolute;
  height: 95%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-card-info {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid grey;
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
  height: 20%;
  line-height: 1.5em;
  font-size: 1em;
}

.display-card-info p{
  margin: 2.5%;
}

.display-card-info strong{
  color: #955d01;
}

.display-card-img {
  position: absolute;
  top: 0;
  height: 75%;
  border-radius: 5%;
}

.sort-filter-wrapper {
  font-family: Luminari, Fantasy, Sans-serif, Monospace, Cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 0px 2% 0px;
}

.sort-filter {
  margin: 2% 0px 2% 0px;
  width: 75%;
}

select{
  color: #E9C236;
  background-color: #090C12;
  width: 100%;
  border: 1px solid grey;
}

.buttons-wrapper {
  height: 8%;
  width: 50%;
  display: flex;
  margin: 10%;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: Luminari, Fantasy, Sans-serif, Monospace, Cursive;
  cursor: pointer;
  color: #E9C236;
  background-color: #0288AB;
  border: 1px solid #E9C236;
  width: 100%;
  margin: 5%;
}

.forecast-container{
  font-family: Luminari, Fantasy, Sans-serif, Monospace, Cursive;
  position: absolute;
  right: 5vw;
  height: 85%;
  width: 18%;
  color: #E9C236;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.forecast-card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 35%;
  text-align: center;
}

.forecast-card-wrapper h1{
  text-transform: capitalize;
  margin: 1%;
}


.forecast-card{
  cursor: pointer;
  position: relative;
  color: black;
  height: 80%;
  width: 50%;
}

.forecast-card h3{
  border: 1px solid black;
  font-size: 1.5vh;
  background-color: #e9c2369a;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left:-1px;
  border-radius: 0px 0px 5px 5px;
}

.forecast-card-img{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}